<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= User.find(message.user_id).name %></td>
        <td><%= message.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', message: @message %>

